node_modules
build

upload.ps1
src/testdata/2025-03-03-entries.xlsx
src/testdata/~$*.xlsx
.webpack/
backup/
dist/
src/generated/*
src/generated/event-catalog.json
src/generated/system-config.json
out/
.env.tjsr-yoga
cachedEvents*.json

packages/fmptools-win32-x64/bin/fmp2json.exe
